@charset "UTF-8";

body
{
  text-align: center;
  background: url("dev3.png");
  background-size: cover;
}

ul li
{
  display: inline;
  margin-right: 50px;
  color: white;
}

ul
{
  background: black;
  height: 40px;
  padding-top: 18px;
  margin-top: -15px;
  margin-left: -10px;
  margin-right: -10px;
  position: fixed;
  width: 100%;
}

a
{
  text-decoration: none;
  color: white;
}

.AppName
{
  float: left;
  font-size: 26px;
}

h1
{
  font-size: 60px;
  color: white;
}

.email
{
  height: 40px;
  width: 250px;
  border-radius: 7px;
  font-family: cursive;
}

.sub-button
{
  height: 40px;
  background: green;
  color: white;
  font-family: cursive;
  font-weight: bold;
  width: 120px;
  font-size: 15px;
  border-radius: 7px;
}

.story1
{
  height: 150px;
  width: 900px;
  background: grey;
  border-radius: 10px;
  border-left: 10px solid orange;
  margin: 0 auto;
}

.story2
{
  height: 150px;
  width: 900px;
  background: grey;
  border-radius: 10px;
  border-left: 10px solid blue;
  margin: 0 auto;
}

.story3
{
  height: 150px;
  width: 900px;
  background: grey;
  border-radius: 10px;
  border-left: 10px solid green;
  margin: 0 auto;
}

.story4
{
  height: 150px;
  width: 900px;
  background: grey;
  border-radius: 10px;
  border-left: 10px solid orange;
  margin: 0 auto;
}

img
{
  height: 250px;
  width: 250px;
  border-radius: 100%;
  margin-top: 30px;
}

h3
{
font-family: cursive;
}

.signup
{
  float: right;
  margin-right: 70px;
  height: 35px;
  width: 100px;
  border-radius: 10px;
  background: black;
  color: white;
  border: 3px solid white;
}
